




img { object-fit: cover; }



/* ####### Desktop(start) ####### */
	@media screen and (min-width: 1025px) {

	body { height: auto; }

	div.btn > a { display: inline-block; padding: 0.625em 2em; border: 1px solid #555; border-radius: 5px; }
	div.btn > a + a { margin-left: 1em; }
	div.btn > a:hover { background: #232323; color: #fff; }



	/* header(D_start) */

	header { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; height: 100vh; }

	header div.info { position: relative; padding: 3.66032vw; width: 60%; border-right: 1px solid #555; }
	header div.info div.info_desc { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; }
	header div.info h1 { display: inline-block; width: 10%; height: 10%;font-size: 20px;  }
	header div.info h1 img { width: 100%; }
	header div.info div.info_desc h2.info_title { font-family: 'PlayfairDisplay-Bold'; font-size: 100px; }
	header div.info div.info_desc p.sub_title_info { font-family: 'PlayfairDisplay-Medium'; display: inline-block; margin-right: 1.46413vw; font-size: 3.51391vw; }
	header div.info div.info_desc p.info_desc { display: inline-block; font-family: 'WixMadeforDisplay-Regular'; font-size: 1.75695vw; }


	header div.info_nav { display: inline-flex; flex-direction: column; flex-grow: 1; justify-content: space-evenly; font-family: 'PlayfairDisplay-Medium'; }
	header div.info_nav > button { position: relative; flex: 33%; padding: 2.19619vw;  border-bottom: 1px solid #555; }
	header div.info_nav > button:last-child { border: none; }
	header div.info_nav > button span { position: absolute; bottom: 0; margin-bottom: 2.19619vw; display: inline-block; font-size: 2.19619vw; }
	header div.info_nav button.info_About:hover { background: #db0000; color: #fff; }
	header div.info_nav button.info_Works:hover { background: #001daf; color: #fff; }
	header div.info_nav button.info_Detail:hover { background: #ffce00; color: #fff; }


	/* header(D_end) */



	/* nav(D_start) */

	nav { z-index: 100; position: sticky; top: 0; width: 100%; height: 12.28vh; border-bottom: 1px solid #555; }
	nav ul { display: inline-block; width: 100%; height: 100%; font-family: 'PlayfairDisplay-Medium'; }
	nav ul li { display: inline-block; height: 100%; border-right: 1px solid #555; background: #fff; }
	nav ul li.logo { width: 40%; }
	nav ul li.menu { width: 20%; }
	nav ul li:last-child { border: none; }
	nav ul li button { display: block; width: 100%; height: 100%; line-height: 12.28vh; text-align: center; }
	nav ul li button span { font-size: 3.38542vh; }

	nav ul li.logo:hover button { background: #ddd; }
	nav ul li.About:hover button { background: #ddd; }
	nav ul li.Work:hover button { background: #ddd; }
	nav ul li.Detail:hover button { background: #ddd; }
	nav ul li.About button.active { background: red; color: white; }
	nav ul li.Work button.active { background: #001daf; color: white; }
	nav ul li.Detail button.active { background: #ffce00; color: white; }


	/* nav(D_end) */





	/* section.about(D_start) */

	section.about { display: flex; flex-direction: row; height: 87.72vh; }
	
	section.about div.design_wrap { position: relative; width: 40%; height: 100%; border-right: 1px solid #555; border-bottom: 1px solid #555; }
	section.about div.design_wrap div.design_img { width: 100%; height: 50%; }
	section.about div.design_wrap div.design_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.about div.design_wrap div.design_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.about div.design_wrap div.design_desc_wrap { position: relative; width: 100%; height: 50%; border-top: 1px solid #555; }
	section.about div.design_wrap div.design_desc_wrap p.design_desc { position: absolute; bottom: 0; margin-bottom: 50px; width: 85%; }


	section.about div.idea_wrap { position: relative; width: 60%; border-bottom: 1px solid #555; }
	section.about div.idea_wrap div.idea_desc_wrap { width: 60%; height: 100%; border-right: 1px solid #555; }
	section.about div.idea_wrap div.idea_desc_wrap p.idea_desc { position: absolute; bottom: 0; margin-bottom: 50px; width: 50%; }

	section.about div.idea_wrap div.idea_img { position: absolute; top: 0; right: 0; width: 40%; height: 100%; }
	section.about div.idea_wrap div.idea_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.about div.idea_wrap div.idea_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }


	/* section.about(D_end) */





	/* section.web(D_start) */

	section.web { display: flex; flex-direction: row; flex-wrap: wrap; height: 88vh; border-bottom: 1px solid #555; }
	
	section.web div.web_img_wrap { position: relative; width: 60%; height: 100%; border-right: 1px solid #555; }
	section.web div.web_img_wrap .web_img { position: relative; width: 100%; height: 90%; }
	section.web div.web_img_wrap .web_img .web_pro_img { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	section.web div.web_img_wrap .web_img .web_pro_img:nth-of-type(1) { display: block; }
	section.web div.web_img_wrap .web_img .web_pro_img .web_img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-bottom: 1px solid #555; object-fit: cover; }
	section.web div.web_img_wrap div.web_img img { width: 100%; height: 100%; filter: grayscale(100%); object-fit: cover; }
	section.web div.web_img_wrap div.web_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }



	section.web div.web_img_wrap div.button_wrap { position: relative; width: 100%; height: 10%; line-height: 10.5vh; border-top: 1px solid #555; }
	section.web div.web_img_wrap div.button_wrap button { position: relative; left: 80%; width: 1.25em; height: 1.25em; text-align: center; font-size: 2.19619vw; color: #999; }
	section.web div.web_img_wrap div.button_wrap button:hover { color: black; }
	section.web div.web_img_wrap div.button_wrap button.active { color: black; }
	section.web div.web_img_wrap div.button_wrap button + button { margin-left: 1vw; }
	
	section.web div.web_desc_wrap { overflow: hidden; position: relative; width: 40%; height: 100%; }
	section.web div.web_desc_wrap div.web_desc { display: block; width: 100%; height: 50%; }
	section.web div.web_desc div.web_pro { position: absolute; z-index: 1; display: block; width: 100%; }
	
	section.web div.web_desc_wrap h2.web_title { display: block; margin-bottom: 26.5vh; }
	section.web div.web_desc_wrap div.pro_btn { margin-bottom: 1.5vh; }
	section.web div.web_desc_wrap div.pro_btn button + button { margin-left: 1vw; }
	section.web div.web_desc_wrap div.pro_btn button.active { font-weight: bold; }
	section.web div.web_desc_wrap div.pro_btn button:hover { font-weight: bold; }

	section.web div.web_desc_wrap div.web_desc { position: relative; }
	section.web div.web_desc_wrap div.web_desc .web_pro { position: absolute; display: none; width: 82%; height: 98%; background: #fff; }
	section.web div.web_desc_wrap div.web_desc .web_pro:nth-of-type(1) { display: block; }

	section.web div.web_desc_wrap p.web_sub_title { margin-bottom: 9.11458vh; }
	section.web div.web_desc_wrap p.web_desc_title { font-size: 1.464129vw; margin-bottom: 2.60417vh; }
	section.web div.web_desc_wrap p.web_desc { margin-bottom: 6.51042vh; }
	section.web div.web_desc_wrap div.web_btn { margin-bottom: 6.5vh; }

	/* section.web(D_end) */




	/* section.uiux(D_start) */

	section.uiux { display: flex; flex-direction: row; height: 88vh; border-bottom: 1px solid #555; }
	
	section.uiux div.uiux_wrap { position: relative; width: 75%; border-right: 1px solid #555; }
	
	section.uiux div.uiux_wrap div.uiux_desc_wrap { position: relative; width: 95%; height: 100%; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap > h2.uxui_title { display: block; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap p.uiux_title { margin-bottom: 2.60417vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_desc { position: absolute; bottom: 0; display: block; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_desc p.uiux_desc { margin-bottom: 6.51042vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_btn { margin-bottom: 6.5vh; }

	



	section.uiux div.uiux_img { position: absolute; top: 0; right: 0; width: 25%; height: 100%; }
	section.uiux div.uiux_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.uiux div.uiux_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	/* section.uiux(D_end) */





	/* section.editorial(D_start) */

	section.editorial { display: flex; flex-direction: row; flex-wrap: wrap; height: 88vh; border-bottom: 1px solid #555; }

	section.editorial div.editorial_img { width: 50%; height: 100%; border-right: 1px solid #555; }
	section.editorial div.editorial_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.editorial div.editorial_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.editorial div.editorial_desc_wrap { position: relative; width: 50%; height: 100%; }
	section.editorial div.editorial_desc_wrap h2.editorial_title { display: block; }
	section.editorial div.editorial_desc_wrap div.editorial_desc { position: absolute; bottom: 0; display: block; width: 85%; }
	section.editorial div.editorial_desc_wrap p.editoria_title { margin-bottom: 2.60417vh; }
	section.editorial div.editorial_desc_wrap p.editorial_desc { margin-bottom: 6.51042vh; }
	section.editorial div.editorial_desc_wrap div.editorial_btn { margin-bottom: 6.5vh; }

	/* section.editorial(D_end) */




	/* section.identity(D_start) */

	section.identity { display: flex; flex-direction: row; flex-wrap: wrap; height: 88vh; border-bottom: 1px solid #555; }
	
	section.identity div.identity_desc_wrap { position: relative; width: 60%; border-right: 1px solid #555; }
	section.identity div.identity_desc_wrap div.identity_desc { position: absolute; bottom: 0; display: block; width: 88%; }
	section.identity div.identity_desc_wrap > h2.identity_title { display: block; }
	section.identity div.identity_desc p.identity_title { margin-bottom: 2.60417vh; }
	section.identity div.identity_desc p.identity_desc { margin-bottom: 6.51042vh; }
	section.identity div.identity_desc div.identity_btn { margin-bottom: 6.5vh; }

	section.identity div.identity_img { width: 40%; height: 100%; }
	section.identity div.identity_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.identity div.identity_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }



	/* section.identity(D_end) */






	
	/* section.detail(D_start) */

	section.detail { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; height: 75.44vh; border-bottom: 1px solid #555; }
	
	section.detail div.detail_01 { width: 45%; height: 100%; border-right: 1px solid #555; }
	section.detail div.detail_01 div.detail_concept { position: relative; padding: 2.5em; height: 40%; border-bottom: 1px solid #555; }
	section.detail div.detail_01 div.detail_concept p.concept_desc { margin-top: 7vh; margin-bottom: 2.92826vw; width: 100%; }

	section.detail div.detail_01 div.detail_color { padding: 2.92826vw; width: 100%; height: 60%; }
	section.detail div.detail_01 div.detail_color p.title { display: block; height: 40%; }

	section.detail div.detail_01 div.detail_color div.color {  height: 60%; }

	section.detail div.detail_01 div.detail_color div { display: inline-block; margin-top: 1vh; }
	section.detail div.detail_01 div.detail_color div + div { margin-left: 1vw; }

	section.detail div.detail_01 div.detail_color div.main { margin-left: 1vw; text-align: center; }
	section.detail div.detail_01 div.detail_color div.main p.main { margin-bottom: 1vw; }
	section.detail div.detail_01 div.detail_color div.main p.b { display: inline-block; width: 35%; }
	section.detail div.detail_01 div.detail_color div.main p.b::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: black; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.main p.w { display: inline-block; width: 35%; }
	section.detail div.detail_01 div.detail_color div.main p.w::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: white; border: 1px solid black; border-radius: 50%; }

	section.detail div.detail_01 div.detail_color div.point { text-align: center; }
	section.detail div.detail_01 div.detail_color div.point p.point { margin-bottom: 1vw; }
	section.detail div.detail_01 div.detail_color div.point p.r { display: inline-block; width: 20%; }
	section.detail div.detail_01 div.detail_color div.point p.r::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: red; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.point p.b { display: inline-block; width: 20%; }
	section.detail div.detail_01 div.detail_color div.point p.b::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: #001daf; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.point p.y { display: inline-block; width: 20%; }
	section.detail div.detail_01 div.detail_color div.point p.y::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: #ffce00; border-radius: 50%; }

	section.detail div.detail_01 div.detail_color div.detail_color > div.point > p + p {  }



	section.detail div.detail_02 { position: absolute; right: 0; top: 0; width: 55%; height: 100%; }

	section.detail div.detail_02 div.detail_02_01 { width: 100%; height: 50%; border-bottom: 1px solid #555; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo { padding: 2.92826vw; width: 100%; height: 100%; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img { display: inline-block; position: relative; top: 50px; width: 7vw; height: 7vw; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img + .logo_img { margin-left: 20px; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img img { width: 100%; object-fit: cover; }
	section.detail div.detail_02 div.detail_logo p.logo_desc { margin-top: 7vh; margin-bottom: 2.92826vw; width: 100%; }

	section.detail div.detail_02 div.detail_02_02 { position: relative; padding: 2.92826vw; width: 100%; height: 50%; }
	section.detail div.detail_02 div.detail_02_02 p.title { position: absolute; top: 25px; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 { position: absolute; bottom: 40px; float: left; font-size: 1.317716vw; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 > p + p { margin-top: 0.2vw; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(1) { font-family: 'PlayfairDisplay-Regular'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(2) { font-family: 'PlayfairDisplay-Medium'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(3) { font-family: 'PlayfairDisplay-SemiBold'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(4) { font-family: 'PlayfairDisplay-Bold'; }

	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 { position: absolute; left: 25vw; bottom: 40px; clear: both; font-size: 1.317716vw; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 > p + p { margin-top: 0.2vw; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(1) { font-family: 'IBMPlexSansKR-Regular'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(2) { font-family: 'IBMPlexSansKR-Light'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(3) { font-family: 'WixMadeforDisplay-Regular'; }
	

	/* section.detail(D_end) */




	}

/* ####### Desktop(end) ####### */















/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!s!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!##########################!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/

/* ####### Tablet(start) ####### */
	@media screen and (min-width: 768px) and (max-width: 1024px) {

	body { height: auto; }

	div.btn > a { display: inline-block; padding: 0.625em 2em; border: 1px solid #222; border-radius: 5px; }
	div.btn > a + a { margin-left: 1em; }
	div.btn > a:hover { background: #232323; color: #fff; }



	/* header(T_start) */

	header { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; height: 100vh; }

	header div.info { position: relative; padding: 3.66032vw; width: 60%; border-right: 1px solid #555; }
	header div.info div.info_desc { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; }
	header div.info h1 { display: inline-block; width: 10%; height: 10%;font-size: 20px;  }
	header div.info h1 img { width: 100%; }
	header div.info div.info_desc h2.info_title { font-family: 'PlayfairDisplay-Bold'; font-size: 100px; }
	header div.info div.info_desc p.sub_title_info { font-family: 'PlayfairDisplay-Medium'; display: inline-block; margin-right: 1.46413vw; font-size: 3.51391vw; }
	header div.info div.info_desc p.info_desc { display: inline-block; font-family: 'WixMadeforDisplay-Regular'; font-size: 1.75695vw; }


	header div.info_nav { display: inline-flex; flex-direction: column; flex-grow: 1; justify-content: space-evenly; font-family: 'PlayfairDisplay-Medium'; }
	header div.info_nav > button { position: relative; flex: 33%; padding: 3.90625vw;  border-bottom: 1px solid #555; }
	header div.info_nav > button:last-child { border: none; }
	header div.info_nav > button span { position: absolute; bottom: 0; margin-bottom: 3.90625vw; display: inline-block; font-size: 3.125vw; }
	header div.info_nav button.info_About:hover { background: #db0000; color: #fff; }
	header div.info_nav button.info_Works:hover { background: #001daf; color: #fff; }
	header div.info_nav button.info_Detail:hover { background: #ffce00; color: #fff; }


	/* header(T_end) */



	/* nav(T_start) */

	nav { z-index: 100; position: sticky; top: 0; width: 100%; height: 12.28vh; border-bottom: 1px solid #555; }
	nav ul { display: inline-block; width: 100%; height: 100%; font-family: 'PlayfairDisplay-Medium'; }
	nav ul li { display: inline-block; height: 100%; border-right: 1px solid #555; background: #fff; }
	nav ul li.logo { width: 40%; }
	nav ul li.menu { width: 20%; }
	nav ul li:last-child { border: none; }
	nav ul li button { display: block; width: 100%; height: 100%; line-height: 12.28vh; text-align: center; }
	nav ul li button span { font-size: 2.34375vh; }

	nav ul li.About:hover button { background: red; color: white; }
	nav ul li.Work:hover button { background: #001daf; color: white; }
	nav ul li.Detail:hover button { background: #ffce00; color: white; }


	/* nav(T_end) */





	/* section.about(T_start) */

	section.about { display: flex; flex-direction: row; height: 88vh; border-bottom: 1px solid #555; }
	
	section.about div.design_wrap { position: relative; width: 40%; height: 100%; border-right: 1px solid #555; }
	section.about div.design_wrap div.design_img { width: 100%; height: 30%; }
	section.about div.design_wrap div.design_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.about div.design_wrap div.design_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.about div.design_wrap div.design_desc_wrap { position: relative; width: 100%; height: 70%; border-top: 1px solid #555; }
	section.about div.design_wrap div.design_desc_wrap p.design_desc { position: absolute; bottom: 0; margin-bottom: 50px; width: 85%; }


	section.about div.idea_wrap { position: relative; width: 60%; height: 100%; }
	section.about div.idea_wrap div.idea_desc_wrap { width: 100%; height: 50%; }
	section.about div.idea_wrap div.idea_desc_wrap p.idea_desc { margin-top: 30vh; width: 100%; }

	section.about div.idea_wrap div.idea_img {  width: 100%; height: 72%; }
	section.about div.idea_wrap div.idea_img img { display: block; width: 100%; height: 70%; filter: grayscale(100%); }
	section.about div.idea_wrap div.idea_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }


	/* section.about(T_end) */



	/* section.web(T_start) */

	section.web { display: flex; flex-direction: row; flex-wrap: wrap; height: 43.86vh; border-bottom: 1px solid #555; }
	
	section.web div.web_img_wrap { position: relative; width: 60%; height: 100%; border-right: 1px solid #555; }
	section.web div.web_img_wrap div.web_img { width: 100%; height: 90%; border-bottom: 1px solid #555; }
	section.web div.web_img_wrap div.web_img img { width: 100%; height: 100%; filter: grayscale(100%); }
	section.web div.web_img_wrap div.web_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.web div.web_img_wrap .web_img .web_pro_img { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 90%; }
	section.web div.web_img_wrap .web_img .web_pro_img:nth-of-type(1) { display: block; }
	section.web div.web_img_wrap .web_img .web_pro_img .web_img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-bottom: 1px solid #555; object-fit: cover; }
	section.web div.web_img_wrap div.web_img img { width: 100%; height: 100%; filter: grayscale(100%); object-fit: cover; }
	section.web div.web_img_wrap div.web_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.web div.web_img_wrap div.button_wrap { position: relative; width: 100%; height: 10%; line-height: 4vh; border-top: 1px solid #555; }
	section.web div.web_img_wrap div.button_wrap button { position: relative; left: 80%; width: 1.25em; height: 1.25em; text-align: center; font-size: 2.19619vw; color: #999; }

	section.web div.web_img_wrap div.button_wrap button:hover { color: black; }
	section.web div.web_img_wrap div.button_wrap button + button { margin-left: 1vw; }
	section.web div.web_img_wrap div.button_wrap button.active { color: black; }
	
	section.web div.web_desc_wrap { overflow: hidden; position: relative; width: 40%; height: 100%; }
	section.web div.web_desc_wrap div.web_desc { display: block; width: 100%; height: 50%; }
	section.web div.web_desc div.web_pro { position: absolute; z-index: 1; display: block; width: 100%; }

	section.web div.web_desc_wrap h2.web_title { display: block; margin-bottom: 8.5vh; }
	section.web div.web_desc_wrap div.web_desc { position: absolute; display: block; width: 82%; }
	section.web div.web_desc_wrap div.pro_btn { margin-bottom: 1.5vh; font-size: 1.82292vw; }
	section.web div.web_desc_wrap div.pro_btn button + button { margin-left: 1vw; }
	section.web div.web_desc_wrap div.pro_btn button.active { font-weight: bold; }

	section.web div.web_desc_wrap div.web_desc { position: relative; }
	section.web div.web_desc_wrap div.web_desc .web_pro { position: absolute; display: none; width: 82%; height: 98%; background: #fff; }
	section.web div.web_desc_wrap div.web_desc .web_pro:nth-of-type(1) { display: block; }

	section.web div.web_desc_wrap p.web_sub_title { margin-bottom: 3.90625vh; width: 148%; font-size: 2.08333vw; }
	section.web div.web_desc_wrap p.web_desc_title { margin-bottom: 1.953122vh; width: 148%; font-size: 1.82292vw; }
	section.web div.web_desc_wrap p.web_desc { margin-bottom: 1.953122vh; width: 148%; }
	section.web div.web_desc_wrap div.web_btn { width: 148%; }


	/* section.web(T_end) */



	/* section.uiux(T_start) */

	section.uiux { display: flex; flex-direction: row; height: 43.86vh; border-bottom: 1px solid #555; }
	
	section.uiux div.uiux_wrap { position: relative; width: 75%; border-right: 1px solid #555; }
	
	section.uiux div.uiux_wrap div.uiux_desc_wrap { position: relative; width: 100%; height: 100%; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap > h2.uxui_title { display: block; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap p.uiux_title { margin-bottom: 1.953122vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_desc { position: absolute; bottom: 0; display: block; margin-bottom: 3.2vh; width: 88%; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_desc p.uiux_desc { margin-bottom: 1.953122vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_btn {  }


	section.uiux div.uiux_img { position: absolute; top: 0; right: 0; width: 25%; height: 100%; }
	section.uiux div.uiux_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.uiux div.uiux_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	/* section.uiux(T_end) */





	/* section.editorial(T_startT_start) */

	section.editorial { display: flex; flex-direction: row; flex-wrap: wrap; height: 43.86vh; border-bottom: 1px solid #555; }

	section.editorial div.editorial_img { width: 50%; height: 100%; border-right: 1px solid #555; }
	section.editorial div.editorial_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.editorial div.editorial_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.editorial div.editorial_desc_wrap { position: relative; width: 50%; height: 100%; }
	section.editorial div.editorial_desc_wrap h2.editorial_title { display: block; }
	section.editorial div.editorial_desc_wrap div.editorial_desc { position: absolute; bottom: 0; display: block; margin-bottom: 3.2vh; width: 82%; }
	section.editorial div.editorial_desc_wrap p.editoria_title { margin-bottom: 1.953122vh; }
	section.editorial div.editorial_desc_wrap p.editorial_desc { margin-bottom: 1.953122vh; }
	section.editorial div.editorial_desc_wrap div.editorial_btn {  }



	/* section.editorial(T_end) */





	/* section.identity(T_start) */

	section.identity { display: flex; flex-direction: row; flex-wrap: wrap; height: 43.86vh; border-bottom: 1px solid #555; }
	
	section.identity div.identity_desc_wrap { position: relative; width: 60%; border-right: 1px solid #555; }
	section.identity div.identity_desc_wrap div.identity_desc { position: absolute; bottom: 0; display: block; margin-bottom: 3.2vh; width: 87%; }
	section.identity div.identity_desc_wrap > h2.identity_title { display: block; }
	section.identity div.identity_desc p.identity_title { margin-bottom: 1.953122vh; }
	section.identity div.identity_desc p.identity_desc { margin-bottom: 1.953122vh; }
	section.identity div.identity_desc div.identity_btn {  }

	section.identity div.identity_img { width: 40%; height: 100%; }
	section.identity div.identity_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.identity div.identity_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }



	/* section.identity(T_end) */





	/* section.detail(T_start) */

	section.detail { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; height: 75.44vh; border-bottom: 1px solid #555; }
	
	section.detail div.detail_01 { width: 45%; height: 100%; border-right: 1px solid #555; }
	section.detail div.detail_01 div.detail_concept { position: relative; padding: 2.5em; height: 40%; border-bottom: 1px solid #555; }
	section.detail div.detail_01 div.detail_concept p.concept_desc { margin-top: 15vh; margin-bottom: 2.92826vw; width: 88%; }

	section.detail div.detail_01 div.detail_color { padding: 2.92826vw; width: 100%; height: 60%; }
	section.detail div.detail_01 div.detail_color p.title { display: block; height: 40%; }

	section.detail div.detail_01 div.detail_color div.color { margin-top: 10vh; }

	section.detail div.detail_01 div.detail_color div { display: inline-block; margin-top: 1vh; }

	section.detail div.detail_01 div.detail_color div.main { text-align: center; }
	section.detail div.detail_01 div.detail_color div.main p.main { margin-bottom: 1vw; }
	section.detail div.detail_01 div.detail_color div.main p.b { display: inline-block; width: 30%; }
	section.detail div.detail_01 div.detail_color div.main p.b::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: black; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.main p.w { display: inline-block; width: 30%; }
	section.detail div.detail_01 div.detail_color div.main p.w::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: white; border: 1px solid black; border-radius: 50%; }

	section.detail div.detail_01 div.detail_color div.point { display: inline-block; width: 50%; text-align: center; }
	section.detail div.detail_01 div.detail_color div.point p.point { margin-bottom: 1vw; }
	section.detail div.detail_01 div.detail_color div.point p.r { display: inline-block; width: 20%; }
	section.detail div.detail_01 div.detail_color div.point p.r::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: red; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.point p.b { display: inline-block; width: 20%; }
	section.detail div.detail_01 div.detail_color div.point p.b::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: #001daf; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.point p.y { display: inline-block; width: 20%; }
	section.detail div.detail_01 div.detail_color div.point p.y::before { content: ""; display: inline-block; width: 4vw; height: 4vw; background: #ffce00; border-radius: 50%; }

	section.detail div.detail_01 div.detail_color div.detail_color > div.point > p + p {  }



	section.detail div.detail_02 { position: absolute; right: 0; top: 0; width: 55%; height: 100%; }
	section.detail div.detail_02 div.detail_02_01 { width: 100%; height: 50%; border-bottom: 1px solid #555; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo { padding: 2.92826vw; width: 100%; height: 100%; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img { display: inline-block; position: relative; top: 50px; width: 8vw; height: 8vw; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img + .logo_img { margin-left: 6vw; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img img { margin-top: 6vh; width: 100%; object-fit: cover; }
	section.detail div.detail_02 div.detail_logo p.logo_desc { margin-top: 15vh; margin-bottom: 2.92826vw; width: 100%; }

	
	section.detail div.detail_02 div.detail_02_02 { position: relative; padding: 2.92826vw; width: 100%; height: 50%; }
	section.detail div.detail_02 div.detail_02_02 p.title { position: absolute; top: 25px; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 { position: absolute; bottom: 140px; float: left; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 > p {  }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 > p + p { margin-top: 0.1vw; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(1) { font-family: 'PlayfairDisplay-Regular'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(2) { font-family: 'PlayfairDisplay-Medium'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(3) { font-family: 'PlayfairDisplay-SemiBold'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(4) { font-family: 'PlayfairDisplay-Bold'; }

	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 { position: absolute; right: 2.92826vw; bottom: 40px; clear: both; text-align: right; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 > p {  }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 > p + p { margin-top: 0.1vw; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(1) { font-family: 'IBMPlexSansKR-Regular'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(2) { font-family: 'IBMPlexSansKR-Light'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(3) { font-family: 'WixMadeforDisplay-Regular'; }
	

	/* section.detail(T_end) */





	}














/* ####### Tablet(end) ####### */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!####!!!!!!!!!!!!####!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!##!!!!!!!!!!##!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!##!!!!!!!!##!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!##!!!!!!##!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!##!!!!##!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!##!##!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!##!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!##!!!!!!!!!!!!!!!!##!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*/


/* ####### Mobile(start) ####### */
	@media screen and (max-width: 767px) {

	body { height: auto; }

	section { overflow: hidden; }


	div.btn > a { display: inline-block; padding: 0.5em 1.5em; border: 1px solid #222; border-radius: 5px; }
	div.btn > a + a { margin-left: 1em; }
	div.btn > a:hover { background: #232323; color: #fff; }



	/* header(M_start) */

	header { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; height: 100vh; }

	header div.info { position: relative; padding: 3.66032vw; width: 60%; height: 100%; border-right: 1px solid #555; }
	header div.info div.info_desc { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; }
	header div.info h1 { display: inline-block; width: 20%; height: 20%;font-size: 20px;  }
	header div.info h1 img { width: 100%; }
	header div.info div.info_desc h2.info_title { font-family: 'PlayfairDisplay-Bold'; font-size: 11.25vw; }
	header div.info div.info_desc p.sub_title_info { font-family: 'PlayfairDisplay-Medium'; display: inline-block; margin-top: 0.5vh; margin-bottom: 0.2vh; font-size: 5.625vw; }
	header div.info div.info_desc p.info_desc { display: inline-block; font-family: 'WixMadeforDisplay-Regular'; font-size: 4.375vw; }


	header div.info_nav { display: inline-flex; flex-direction: column; flex-grow: 1; justify-content: space-evenly; font-family: 'PlayfairDisplay-Medium'; }
	header div.info_nav > button { position: relative; flex: 33%; padding: 3.90625vw;  border-bottom: 1px solid #555; }
	header div.info_nav > button span { position: absolute; bottom: 0; margin: 2.5vw 3.125vw; display: inline-block; font-size: 5vw; }
	header div.info_nav button.info_About:hover { background: #db0000; color: #fff; }
	header div.info_nav button.info_Works:hover { background: #001daf; color: #fff; }
	header div.info_nav button.info_Detail:hover { background: #ffce00; color: #fff; }
	header div.info_nav button.info_Detail { border: none; }


	/* header(M_end) */



	/* nav(M_start) */

	nav { z-index: 100; position: sticky; top: 0; width: 100%; height: 10vh; border-bottom: 1px solid #555; }
	nav ul { display: inline-block; width: 100%; height: 100%; font-family: 'PlayfairDisplay-Medium'; }
	nav ul li { display: inline-block; height: 100%; border-right: 1px solid #555; background: #fff; }
	nav ul li.logo { width: 40%; }
	nav ul li.menu { width: 20%; }
	nav ul li:last-child { border: none; }
	nav ul li button { overflow: hidden; display: block; width: 100%; height: 100%; line-height: 10vh; text-align: center; }
	nav ul li button span { font-size: 2.8169vh; }

	nav ul li.About:hover button { background: red; color: white; }
	nav ul li.Work:hover button { background: #001daf; color: white; }
	nav ul li.Detail:hover button { background: #ffce00; color: white; }


	/* nav(M_end) */





	/* section.about(M_start) */

	section.about { padding: 6.25vw; height: 90vh; border-bottom: 1px solid #555; }
	
	section.about div.design_wrap { position: relative; width: 100%; height: 40%; }
	section.about div.design_wrap::before { content: "";  position: absolute; left: -6.25vw; display: block; margin-top: 35.8vh; background: #555; width: 120%; height: 1px; }
	section.about div.design_wrap div.design_img { display: none; }

	section.about div.design_wrap div.design_desc_wrap { position: relative; width: 100%; height: 100%; }
	section.about div.design_wrap div.design_desc_wrap p.design_desc { margin-top: 10vh; }


	section.about div.idea_wrap { position: relative; margin-top: 12.5vw; width: 100%; }
	section.about div.idea_wrap div.idea_desc_wrap { position: relative; width: 100%; }
	section.about div.idea_wrap div.idea_desc_wrap p.idea_desc { margin-top: 26vh; }

	section.about div.idea_wrap div.idea_img { display: none; }


	/* section.about(M_end) */





	/* section.web(M_start) */

	section.web { display: flex; flex-direction: row; flex-wrap: wrap; height: 90vh; border-bottom: 1px solid #555; }
	
	section.web div.web_img_wrap { position: relative; width: 100%; height: 50%; }
	section.web div.web_img_wrap div.web_img { position: relative; width: 100%; height: 85%; border-bottom: 1px solid #555; }
	section.web div.web_img_wrap div.web_img { position: relative; width: 100%; height: 90%; }
	section.web div.web_img_wrap div.web_img .web_pro_img { display: none; position: absolute; width: 100%; height: 100%; }
	section.web div.web_img_wrap .web_img .web_pro_img:nth-of-type(1) { display: block; }
	section.web div.web_img_wrap div.web_img .web_pro_img img { position: absolute; width: 100%; height: 100%; filter: grayscale(100%); }
	section.web div.web_img_wrap div.web_img .web_pro_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.web div.web_img_wrap div.button_wrap { width: 100%; height: 15%; border-bottom: 1px solid #555; }
	section.web div.web_img_wrap div.button_wrap button { margin-left: 1vw; margin-top: 0.8vh; width: 1.3em; height: 1.3em; text-align: center; font-size: 6.25vw; line-height: 1.7; color: #999; }
	section.web div.web_img_wrap div.button_wrap button:hover { color: black; }
	section.web div.web_img_wrap div.button_wrap button.active { color: black; }
	section.web div.web_img_wrap div.button_wrap button + button { margin-left: 0.5vw; }



	section.web div.web_desc_wrap { overflow: hidden; position: relative; width: 50%; height: 100%; }
	section.web div.web_desc_wrap div.web_desc { display: block; width: 100%; height: 50%; }
	section.web div.web_desc div.web_pro { position: absolute; z-index: 1; display: none; width: 100%; }
	section.web div.web_desc_wrap div.web_desc .web_pro:nth-of-type(1) { display: block; }

	section.web div.web_desc_wrap { position: relative; padding: 3.90625vw; width: 100%; height: 50%; }
	section.web div.web_desc_wrap h2.web_title { position: relative; top: 10px; display: block; margin-bottom: 2vh; }
	section.web div.web_desc_wrap div.web_desc { position: absolute; bottom: 8vh; display: block; margin-bottom: 2.3vh; width: 90%; }
	section.web div.web_desc_wrap div.pro_btn { position: relative; left: 55px; bottom: 22px; display: inline-block; margin-bottom: 1.5vh; font-size: 3.125vw; }
	section.web div.web_desc_wrap div.pro_btn button + button { margin-left: 1.8vw; }
	section.web div.web_desc_wrap div.pro_btn button.active { font-weight: bold; }
	section.web div.web_desc_wrap p.web_sub_title { margin-bottom: 3.52112vh; }
	section.web div.web_desc_wrap p.web_desc_title { margin-bottom: 1.760571vh; }
	section.web div.web_desc_wrap p.web_desc { margin-bottom: 3.52112vh; }
	section.web div.web_desc_wrap div.web_btn {  }

	/* section.web(M_end) */







	/* section.uiux(M_start) */

	section.uiux { padding: 6.25vw; height: 90vh; text-align: center; border-bottom: 1px solid #555; }
	
	section.uiux div.uiux_wrap { position: relative; width: 100%; text-align: center; }
	
	section.uiux div.uiux_wrap div.uiux_desc_wrap { position: relative; margin-top: 34vh; width: 100%; height: 80%; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap > h2.uxui_title { display: block; margin-bottom: 3.52112vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap p.uiux_title { margin-bottom: 1.76057vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_desc { display: block; width: 100%; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_desc p.uiux_desc { margin-bottom: 3.52112vh; }
	section.uiux div.uiux_wrap div.uiux_desc_wrap div.uiux_btn {  }


	section.uiux div.uiux_img { transform: translate(80%, -250%); width: 38%; }
	section.uiux div.uiux_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.uiux div.uiux_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	/* section.uiux(M_end) */





	/* section.editorial(M_start) */

	section.editorial { width: 100%; height: 90vh; border-bottom: 1px solid #555; }

	section.editorial div.editorial_img { width: 100%; height: 25%; border-bottom: 1px solid #555; }
	section.editorial div.editorial_img img { display: block; width: 100%; height: 100%; filter: grayscale(100%); }
	section.editorial div.editorial_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }

	section.editorial div.editorial_desc_wrap { position: relative; padding: 6.25vw; width: 100%; height: 75%; }
	section.editorial div.editorial_desc_wrap h2.editorial_title { display: block; }
	section.editorial div.editorial_desc_wrap div.editorial_desc { position: absolute; bottom: 0; display: block; margin-bottom: 3.2vh; width: 82%; }
	section.editorial div.editorial_desc_wrap p.editoria_title { margin-bottom: 1.76057vh; }
	section.editorial div.editorial_desc_wrap p.editorial_desc { margin-bottom: 3.52112vh; }
	section.editorial div.editorial_desc_wrap div.editorial_btn {  }



	/* section.editorial(M_end) */





	/* section.identity(M_start) */

	section.identity { width: 100%; height: 90vh; border-bottom: 1px solid #555; }
	
	section.identity div.identity_desc_wrap { position: relative; padding: 6.25vw; transform: translateY(91%); width: 100%; }
	section.identity div.identity_desc_wrap div.identity_desc {display: block; }
	section.identity div.identity_desc_wrap > h2.identity_title { display: block; margin-bottom: 3.52112vh; }
	section.identity div.identity_desc p.identity_title { margin-bottom: 1.76057vh; }
	section.identity div.identity_desc p.identity_desc { margin-bottom: 3.52112vh; }
	section.identity div.identity_desc div.identity_btn {  }

	section.identity div.identity_img { position: relative; transform: translateY(-150%); width: 100%; height: 35%; }
	section.identity div.identity_img img { position: absolute; right: 0; display: block; width: 60%; height: 110%; filter: grayscale(100%); }
	section.identity div.identity_img img:hover { filter: grayscale(0%); transition: filter 0.3s; }



	/* section.identity(M_end) */






	
	/* section.detail(M_start) */

	section.detail {  height: 90vh; border-bottom: 1px solid #555; }
	
	section.detail div.detail_01 { width: 100%; height: 50%; }
	section.detail div.detail_01 div.detail_concept { position: relative; padding: 6.25vw; height: 50%; text-align: center; border-bottom: 1px solid #555; }
	section.detail div.detail_01 div.detail_concept p.concept_desc { margin-top: 2.2vh; width: 100%; }

	section.detail div.detail_01 div.detail_color { padding: 6.25vw; width: 100%; height: 50%; border-bottom: 1px solid #555; }
	section.detail div.detail_01 div.detail_color p.title { display: block; margin-bottom: 1vh; }

	section.detail div.detail_01 div.detail_color div.color { height: 100%; }

	section.detail div.detail_01 div.detail_color div { display: inline-block; margin-top: 1vh; }
	section.detail div.detail_01 div.detail_color div + div { margin-left: 1vw; }

	section.detail div.detail_01 div.detail_color div.main { width: 50%; text-align: center; }
	section.detail div.detail_01 div.detail_color div.main p.main { display: none; }
	section.detail div.detail_01 div.detail_color div.main p.b { display: inline-block; width: 30%; color: Transparent; }
	section.detail div.detail_01 div.detail_color div.main p.b::before { content: ""; display: inline-block; width: 12vw; height: 12vw; background: black; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.main p.w { display: inline-block; width: 30%; color: Transparent; }
	section.detail div.detail_01 div.detail_color div.main p.w::before { content: ""; display: inline-block; width: 12vw; height: 12vw; background: white; border: 1px solid black; border-radius: 50%; }

	section.detail div.detail_01 div.detail_color div.point {  width: 50%; transform: translate(100%, -107%); text-align: center; }
	section.detail div.detail_01 div.detail_color div.point p.point { display: none; }
	section.detail div.detail_01 div.detail_color div.point p.r { display: inline-block; width: 30%; color: Transparent; }
	section.detail div.detail_01 div.detail_color div.point p.r::before { content: ""; display: inline-block; width: 12vw; height: 12vw; background: red; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.point p.b { display: inline-block; width: 30%; color: Transparent; }
	section.detail div.detail_01 div.detail_color div.point p.b::before { content: ""; display: inline-block; width: 12vw; height: 12vw; background: #001daf; border-radius: 50%; }
	section.detail div.detail_01 div.detail_color div.point p.y { display: inline-block; width: 30%; color: Transparent; }
	section.detail div.detail_01 div.detail_color div.point p.y::before { content: ""; display: inline-block; width: 12vw; height: 12vw; background: #ffce00; border-radius: 50%; }

	section.detail div.detail_01 div.detail_color div.detail_color > div.point > p + p {  }



	section.detail div.detail_02 {  width: 100%; height: 100%; }
	section.detail div.detail_02 div.detail_02_01 { padding: 4.25vw; width: 100%; height: 50%; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo { width: 100%; height: 100%; text-align: center; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .title { display: block; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img { position: relative; top: 50px; display: inline-block; position: relative; width: 20vw; height: 20vw; }
	section.detail div.detail_02 div.detail_02_01 div.detail_logo .logo_img img { width: 100%; object-fit: cover; }
	section.detail div.detail_02 div.detail_logo p.logo_desc { position: relative; top: 60px; margin-top: 1vh; margin-bottom: 2.92826vw; width: 100%; }

	
	section.detail div.detail_02 div.detail_02_02 { position: relative; padding: 2.92826vw; width: 100%; height: 50%; }
	section.detail div.detail_02 div.detail_02_02 p.title { margin-bottom: 2.5vh; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 { width: 50%; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 > p { font-size: 3.75vw; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_01 > p + p { margin-top: 0.1em; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(1) { font-family: 'PlayfairDisplay-Regular'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(2) { font-family: 'PlayfairDisplay-Medium'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(3) { font-family: 'PlayfairDisplay-SemiBold'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_01 > p:nth-child(4) { font-family: 'PlayfairDisplay-Bold'; }

	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 { position: absolute; bottom: 2vh; right: 0;  width: 50%; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 > p { font-size: 3.75vw; }
	section.detail div.detail_02 div.detail_02_02 div.typo_desc_wrap_02 > p + p { margin-top: 0.1vw; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(1) { font-family: 'IBMPlexSansKR-Regular'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(2) { font-family: 'IBMPlexSansKR-Light'; }
	section.detail div.detail_02 .detail_02_02 .typo_desc_wrap_02 > p:nth-child(3) { font-family: 'WixMadeforDisplay-Regular'; }
	
	

	/* section.detail(M_end) */


	}


/* ####### Mobile(end) ####### */